
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle btn-sm"
            data-toggle="dropdown">
        Search <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Search Vendor Category</a></li>
        <li>@Html.ActionLink("Search Vendor", "SearchVendor", "Vendor")</li>
        <li><a href="#">Search User</a></li>
    </ul>
</div>
